USE [master]
GO
/****** Object:  Database [InterviewTasks]    Script Date: 07/04/2022 12:36:02 ******/
CREATE DATABASE [InterviewTasks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InterviewTasks', FILENAME = N'C:\temp\MSSQL\DATA\InterviewTasks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InterviewTasks_log', FILENAME = N'C:\temp\MSSQL\DATA\InterviewTasks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InterviewTasks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InterviewTasks]
GO
USE [InterviewTasks]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 07/04/2022 12:36:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[ID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07/04/2022 12:36:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Persons] ([ID], [Name]) VALUES (1, N'Nikolay')
INSERT [dbo].[Persons] ([ID], [Name]) VALUES (2, N'Tiana')
INSERT [dbo].[Persons] ([ID], [Name]) VALUES (3, N'Andrew')
INSERT [dbo].[Roles] ([ID], [NAME]) VALUES (1, N'Doctor')
INSERT [dbo].[Roles] ([ID], [NAME]) VALUES (2, N'Driver')
INSERT [dbo].[Roles] ([ID], [NAME]) VALUES (3, N'GP')
ALTER TABLE [dbo].[Persons]  WITH NOCHECK ADD  CONSTRAINT [FK_Roles_Persons] FOREIGN KEY([ID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Persons] NOCHECK CONSTRAINT [FK_Roles_Persons]
GO
USE [master]
GO
